.card {
    border: none;
}

.card-header {
    background: none;
}

.card-header h2 {
    padding: 0;
}

.card-with-img {
    padding: 1.6rem;
    button {
        margin: 3rem 25px;
    }
}

.call-out-card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.50);
}

.card-text-only,
.card-text-btn,
.person-card {
    margin: 0 auto;
    max-width: 80%;
    font-size: 2rem; 
    box-shadow: 3px 3px 4px -1px rgba(0,0,0,0.50);
    padding: 30px 10px 30px 3px;
}

@media only screen and (min-width: $breakpoint-lg) {
    .card-text-only {
        max-width: 100%;
        text-align: justify;
        box-shadow: none;
        margin: 0 auto;
        padding: 0;
    }
}

.person-card {
    padding: 0;
    border-radius: 5px;
    .card-body {
        background: $person-card-background;
    }
}

