/*=============================================
=            FOOTER
=============================================*/
footer {
    margin: 6rem auto;
}

footer h3 {
    font-size: 2.6rem;
}

footer a,
.footer-links p {
    font-family: 'PL Regular';
    color: $brand-black;
    text-transform: uppercase;
}

.footer-pages {
    margin: 1.6rem auto;
}

.footer-pages a {
    min-width: 100%;
    text-align: center;
}

.footer-links a {
    font-size: 1.2rem;
    padding: 5px auto;
}

.footer-links p {
    font-size: 1.2rem;
}

.fa-facebook {
    color: $facebook;
}

.fa-twitter-square {
    color: $twitter;
}


@media only screen and (min-width: $breakpoint-lg) {
    footer a {
        color: $brand-blue;
    }
    .footer-pages a {
        padding: 5px 10px;
    }
    .footer-links div:first-of-type {
        margin-bottom: 1.6rem;
    }
    .footer-links a,
    .footer-links p {
        font-size: 1.4rem;
        padding-bottom: 0;
    }
    .footer-pages a {
        min-width: auto;
    }
}

/*=====  End of FOOTER  ======*/