header .container {
    margin: 6rem 8rem;
}

h2,
.subpage-title h1 {
    padding: 1rem 3.2rem;
}

@media only screen and (min-width: $breakpoint-lg) {
    h2 {
        padding: 0;
    }
}

.header-content {
    z-index: 0;
    position: relative;
    margin-bottom: 1.6rem;
}

.homepage-title,
.subpage-title,
.section-title {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
    background: $brand-blue;
    z-index: 1;
    width: 85%;
    position: absolute;
    top: 4rem;
}

.subpage-title {
    top: 10rem;
}

.section-title {
    position: relative;
    width: 65%;
    margin-bottom: 4rem;
}

@media only screen and (min-width: $breakpoint-lg) {
    header {
        margin-bottom: 8rem;
    }

    .lead img {
        max-height: 50vh;
        width: 100%;
    }
    .subpage-title h1 {
        padding: 1.5rem 3.2rem;
    }
    .subpage-title {
        top: 50%;
        left: 15%;
        position: absolute;
        background: $brand-light;
        opacity: 0.95;
        box-shadow: none;
        width: 70%;
    }

    .section-title {
        margin-bottom: 8rem;
        margin-top: 8rem;
        top: initial;
        box-shadow: none;
        background: none;
        width: 100%;
    }
    .section-title.research {
        margin-bottom: 0;
    }
}