.container-fluid {
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

section {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

@media only screen and (min-width: $breakpoint-lg) {
    section,
    .accordion-wrapper,
    .call-out-card {
        margin-left: 8rem;
        margin-right: 8rem;
    }
}