/*=============================================
=            TYPOGRAPHY
=============================================*/
:root {
    font-size: 62.5%;
}

@font-face {
    font-family: 'PL Regular';
    src: url('/dist/assets/fonts/Proza_Libre/ProzaLibre-Regular.ttf');
}

@font-face {
    font-family: 'PL Medium';
    src: url('/dist/assets/fonts/Proza_Libre/ProzaLibre-Medium.ttf');
}

@font-face {
    font-family: 'PL Bold';
    src: url('/dist/assets/fonts/Proza_Libre/ProzaLibre-Bold.ttf');
}

@font-face {
    font-family: 'PL SemiBold';
    src: url('/dist/assets/fonts/Proza_Libre/ProzaLibre-SemiBold.ttf');
}

body {
    line-height: 1.6;
    color: $brand-black;
    text-align: left;
    font-family: 'PL Regular';
    font-size: 1.6rem;
}

h1 {
    font-family: 'PL SemiBold';
    font-size: 8rem;
    color: $brand-darkgrey;
    padding: 0;
    margin: 0;
}

h2,
.subpage-title h1 {
    font-family: 'PL Regular';
    color: $brand-light;
    font-size: 4rem;
    letter-spacing: 0;
    margin-bottom: 0;
}

@media only screen and (min-width: $breakpoint-lg) {
    h2,
    .subpage-title h1 {
        padding: 0;
        color: $brand-blue;
        font-family: 'PL SemiBold';
        font-size: 4.4rem;
        text-align: center;
    }

    .research h2 {
        text-align: left;
        margin-left: 8rem;
        margin-bottom: 0;
    }

    .subpage-title h1 {
        font-size: 6rem;
    }

    .subpage-title.research h1 {
        font-size: 4.4rem;
    }
}

h3 {
    font-family: 'PL Regular';
    font-size: 3rem;
}


h4 {
    font-family: 'PL Medium';
    font-size: 2rem;
}

.call-out-card h4 {
    font-size: 2.6rem;
    color: $brand-blue;
}

h5 {
    font-family: 'PL Medium';
    color: $brand-teal;
    font-size: 1.6rem;
    text-transform: uppercase;
}

.welcome h5 {
    color: $brand-blue;
}

h6 {
    color: $brand-blue;
    font-family: 'PL Regular';
    font-size: 2.4rem;
    padding-bottom: 1.2rem;
    line-height: unset;
}

address {
    margin-bottom: 0;
}

a {
    color: $brand-light;
    text-decoration: none;
    &:hover{
        text-decoration: none;
        color: $brand-light;
    }
}



/*=====  End of TYPOGRAPHY  ======*/