/*=============================================
=            TYPOGRAPHY
=============================================*/
:root {
    font-size: 62.5%;
}

@font-face {
    font-family: 'PL Regular';
    src: url('/dist/assets/fonts/Proza_Libre/ProzaLibre-Regular.ttf');
}

@font-face {
    font-family: 'PL Medium';
    src: url('/dist/assets/fonts/Proza_Libre/ProzaLibre-Medium.ttf');
}

@font-face {
    font-family: 'PL Bold';
    src: url('/dist/assets/fonts/Proza_Libre/ProzaLibre-Bold.ttf');
}

@font-face {
    font-family: 'PL SemiBold';
    src: url('/dist/assets/fonts/Proza_Libre/ProzaLibre-SemiBold.ttf');
}

h1 {
    font-family: 'PL SemiBold';
    font-size: 8rem;
    color: $brand-darkgrey;
    padding: 0;
    margin: 0;
}

h2,
.subpage-title h1 {
    font-family: 'PL Regular';
    color: $brand-light;
    font-size: 4rem;
    letter-spacing: 0;
    margin-bottom: 0;
}

@media only screen and (min-width: $breakpoint-lg) {
    h2,
    .subpage-title h1 {
        padding: 0;
        color: $brand-blue;
        font-family: 'PL SemiBold';
        font-size: 4.8rem;
        text-align: center;
    }

    .subpage-title h1 {
        font-family: 'PL Regular';
        color: $brand-light;
    }
}

h3 {
    font-family: 'PL Regular';
    font-size: 3rem;
}


h4 {
    font-family: 'PL Medium';
    font-size: 2rem;
}

.call-out-card h4 {
    font-size: 2.6rem;
}

h5 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: $brand-teal;
    font-size: 1.4rem;
    text-transform: uppercase;
}

/*=====  End of TYPOGRAPHY  ======*/