/*=============================================
=            COLORS
=============================================*/
$brand-blue: #2B2C6A;
$brand-light: #EAEAF1;
$brand-teal: #25718C;
$brand-black: #262626;
$brand-grey: #979797;
$brand-darkgrey: #576066;
$facebook: #4267B2;
$twitter: #1DA1F2;

/*=====  End of Section COLORS  ======*/

/*=============================================
=           Breakpoints
=============================================*/
$breakpoint-xs: 480px;
$breakpoint-sm: 575px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

/*=====  End of Breakpoints  ======*/