@import '../node_modules/bootstrap/scss/bootstrap.scss';



/*=============================================
=            SCROLLBARS
=============================================*/

:root {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

/* Hide y-scrollbar in Chrome & Safari */
::-webkit-scrollbar { 
    display: none; 
    width: 0 !important;
}

/*=====  End of SCROLLBARS  ======*/



/*=============================================
=            COLORS
=============================================*/

$brand-blue: #2B2C6A;
$brand-light: #EAEAF1;
$brand-teal: #25718C;


/*=====  End of Section COLORS  ======*/


/*=============================================
=            TYPOGRAPHY
=============================================*/
:root {
    font-size: 62.5%;
}

@font-face {
    font-family: 'PL Regular';
    src: url('/dist/assets/fonts/Proza_Libre/ProzaLibre-Regular.ttf');
}

@font-face {
    font-family: 'PL Bold';
    src: url('/dist/assets/fonts/Proza_Libre/ProzaLibre-Bold.ttf');
}

@font-face {
    font-family: 'PL SemiBold';
    src: url('/dist/assets/fonts/Proza_Libre/ProzaLibre-SemiBold.ttf');
}


/*=====  End of TYPOGRAPHY  ======*/


/*=============================================
=            BUTTONS
=============================================*/
.btn-outline-primary {
    border: 0;
    color: $brand-blue;
    font-size: 1.6rem;
    padding: 0;
    font-family: 'PL SemiBold';
}

.btn-outline-primary:hover {
    background: transparent;
    color: $brand-teal;
}


/*=====  End of BUTTONS  ======*/






/*=============================================
=            GENERAL STYLES
=============================================*/

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
}

body {
    margin: 0;
    line-height: 1.5;
    color: #262626;
    text-align: left;
    background-color: #fff; 
    font-family: 'PL Regular';
    color: $brand-blue;
    font-size: 1.6rem;
}

/*=====  End of GENERAL STYLES  ======*/


/*=============================================
=           Breakpoints
=============================================*/

$breakpoint-xs: 480px;
$breakpoint-sm: 575px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;


/*=====  End of Breakpoints  ======*/


/*=============================================
=            LAYOUT
=============================================*/

.container-fluid {
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

/*=====  End of LAYOUT  ======*/



/*=============================================
=            NAVBAR
=============================================*/

.navbar {
    padding: 1.2rem 1rem;
}

.navbar-brand {
    text-transform: capitalize;
    color: $brand-blue;
    font-size: 1.35rem;
}

.navbar-brand svg {
    height: 40px;
    width: 40px;
}

.navbar-brand-text {
    color: $brand-blue;
}

@media only screen and (min-width: $breakpoint-md) {
    .navbar-brand svg {
        height: 50px;
        width: 50px; 
    }
}

.navbar-collapse a {
    color: $brand-blue;
    text-transform: uppercase;
    font-size: 2rem;
}

@media only screen and (min-width: $breakpoint-lg) {
    .navbar-collapse a {
        font-size: 1.6rem;
    }
}

.navbar-collapse a:hover {
    background-color: $brand-blue;
    color: $brand-light;
    border-radius: 3px;
}


.navbar-light .navbar-toggler {
    color: transparent;
    border-color: transparent;
}

.navbar-light .navbar-toggler-icon {
    background-image: url('/dist/assets/imgs/navbar-toggler-icon.svg');
    width: 35px;
    height: 25px;
    margin-left: 2rem;
}

/*=====  End of NAVBAR  ======*/



/*=============================================
=           PAGE-HEADER
=============================================*/
.lead {
    z-index: 0;
    position: relative;
    margin-bottom: 1.6rem;
}

.lead-title {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
    background: $brand-blue;
    z-index: 1;
    width: 85%;
    position: absolute;
    top: 4rem;
}

.lead h1 {
    padding: 1rem 3.2rem;
    color: $brand-light;
    font-size: 4rem;
    letter-spacing: 0;
    margin-bottom: 0;
}

/*=====  End of PAGE-HEADER  ======*/

/*=============================================
=            TEXT-TILE
=============================================*/

.text-tile {
    max-width: 85%;
    margin: 2.4rem auto;
    font-size: 2rem; 
    box-shadow: 3px 3px 4px -1px rgba(0,0,0,0.50);
}

@media only screen and (min-width: $breakpoint-lg) {
    .text-tile {
        text-align: justify;
        box-shadow: none;
    }
}

/*=====  End of TEXT-TILE  ======*/






/*=============================================
=            h2-ACCORDIAN
=============================================*/
.accordion .card {
    border: 1px solid #fff;
    border-left: none;
}

.accordion .card-body {
    padding: 1.6rem 2.4rem;
    box-shadow: 3px 3px 4px -1px rgba(0,0,0,0.50);
}

.accordion > .card .card-header {
    background: $brand-blue;
    width: 80%;
}

.accordion .btn-link {
    font-size: 2rem;
    color: $brand-light;
}

/*=====  End of H2-ACCORDIAN  ======*/




