@import '../node_modules/bootstrap/scss/bootstrap.scss';

/*=============================================
=            SCROLLBARS
=============================================*/
:root {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

/* Hide y-scrollbar in Chrome & Safari */
::-webkit-scrollbar { 
    display: none; 
    width: 0 !important;
}

/*=====  End of SCROLLBARS  ======*/

/*=============================================
=            COLORS
=============================================*/
$brand-blue: #2B2C6A;
$brand-light: #EAEAF1;
$brand-teal: #25718C;
$brand-black: #262626;
$brand-grey: #979797;
$brand-darkgrey: #576066;
$facebook: #4267B2;
$twitter: #1DA1F2;

/*=====  End of Section COLORS  ======*/

/*=============================================
=           Breakpoints
=============================================*/
$breakpoint-xs: 480px;
$breakpoint-sm: 575px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

/*=====  End of Breakpoints  ======*/

/*=============================================
=            TYPOGRAPHY
=============================================*/
:root {
    font-size: 62.5%;
}

@font-face {
    font-family: 'PL Regular';
    src: url('/dist/assets/fonts/Proza_Libre/ProzaLibre-Regular.ttf');
}

@font-face {
    font-family: 'PL Medium';
    src: url('/dist/assets/fonts/Proza_Libre/ProzaLibre-Medium.ttf');
}

@font-face {
    font-family: 'PL Bold';
    src: url('/dist/assets/fonts/Proza_Libre/ProzaLibre-Bold.ttf');
}

@font-face {
    font-family: 'PL SemiBold';
    src: url('/dist/assets/fonts/Proza_Libre/ProzaLibre-SemiBold.ttf');
}

h2 {
    padding: 1rem 3.2rem;
    color: $brand-light;
    font-size: 4rem;
    letter-spacing: 0;
    margin-bottom: 0;
}

@media only screen and (min-width: $breakpoint-lg) {
    h2 {
        font-family: 'PL SemiBold';
        font-size: 4.8rem;
        color: $brand-blue;
        text-align: center;
        padding: 0;
    }
}

h3 {
    font-family: 'PL Medium';
    font-size: 2rem;
}

h4,
h5 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.6rem;
}

h5 {
    color: $brand-teal;
    font-size: 1.4rem;
}

/*=====  End of TYPOGRAPHY  ======*/

/*=============================================
=            BUTTONS
=============================================*/
.btn-outline-primary {
    border: 0;
    color: $brand-blue;
    font-size: 1.6rem;
    padding: 0;
    font-family: 'PL SemiBold';
}

.btn-outline-primary:hover {
    background: transparent;
    color: $brand-teal;
}

.btn-primary,
.btn-primary-alt {
    background-color: $brand-teal;
    font-size: 1.6rem;
    border: none;
    color: $brand-light;    
    margin-bottom: 3rem;
    padding: 1rem 4rem;
}

.btn-primary:not(:disabled):not(.disabled):active {
    background-color: $brand-blue;
}

.btn-primary-alt {
    background-color: $brand-blue;
}

.btn-primary-alt:hover {
    color: $brand-light;
}

/*=====  End of BUTTONS  ======*/

/*=============================================
=            GENERAL STYLES
=============================================*/
html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
}

body {
    margin: 0;
    line-height: 1.5;
    color: #262626;
    text-align: left;
    background-color: #fff; 
    font-family: 'PL Regular';
    color: $brand-blue;
    font-size: 1.6rem;
}

/*=====  End of GENERAL STYLES  ======*/

/*=============================================
=            LAYOUT
=============================================*/
.container-fluid {
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

/*=====  End of LAYOUT  ======*/

/*=============================================
=            NAVBAR
=============================================*/
.navbar {
    padding: 1.2rem 1rem;
}

.navbar-brand {
    text-transform: capitalize;
    color: $brand-blue;
    font-size: 1.35rem;
}

.navbar-brand svg {
    height: 40px;
    width: 40px;
}

.navbar-brand-text {
    color: $brand-blue;
}

@media only screen and (min-width: $breakpoint-md) {
    .navbar-brand svg {
        height: 50px;
        width: 50px; 
    }
}

.navbar-collapse a {
    color: $brand-blue;
    text-transform: uppercase;
    font-size: 2rem;
}

@media only screen and (min-width: $breakpoint-lg) {
    .navbar-collapse a {
        font-size: 1.6rem;
    }
}

.navbar-collapse a:hover {
    background-color: $brand-blue;
    color: $brand-light;
    border-radius: 3px;
}


.navbar-light .navbar-toggler {
    color: transparent;
    border-color: transparent;
}

.navbar-light .navbar-toggler-icon {
    background-image: url('/dist/assets/imgs/navbar-toggler-icon.svg');
    width: 35px;
    height: 25px;
    margin-left: 2rem;
}

/*=====  End of NAVBAR  ======*/

/*=============================================
=            HEADER (WEB)
=============================================*/
header .container {
    margin: 6rem 8rem;
}

//jumbotron h1
.display-4 {
    font-family: 'PL SemiBold';
    font-size: 8rem;
    color: $brand-darkgrey;
    padding: 0;
    margin: 0;
}

header h3 {
    font-family: 'PL Regular';
    font-size: 3rem;
}


/*=====  End of HEADER  ======*/

/*=============================================
=           PAGE-HEADER
=============================================*/
.header {
    z-index: 0;
    position: relative;
    margin-bottom: 1.6rem;
}

.header-title {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
    background: $brand-blue;
    z-index: 1;
    width: 85%;
    position: absolute;
    top: 4rem;
}

/*=====  End of PAGE-HEADER  ======*/


/*=============================================
=            SUBHEADER
=============================================*/
.subheader-cards {
    max-width: 85%;
    margin:0 auto;
}
/*=====  End of SUBHEADER  ======*/

/*=============================================
=            SECTION TITLE
=============================================*/
.section-title {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
    background: $brand-blue;
    width: 65%;
    margin-top: 8rem;
}

@media only screen and (min-width: $breakpoint-lg) {
    .section-title {
        box-shadow: none;
        background: none;
        width: 100%;
        margin: 4rem auto;
    }
}

/*=====  End of SECTION TITLE  ======*/

/*=============================================
=            TEXT-TILE
=============================================*/
.text-tile {
    max-width: 85%;
    margin: 2.4rem auto;
    font-size: 2rem; 
    box-shadow: 3px 3px 4px -1px rgba(0,0,0,0.50);
    padding: 30px 10px 30px 3px;
}

@media only screen and (min-width: $breakpoint-lg) {
    .text-tile {
        text-align: justify;
        box-shadow: none;
        margin: 0 auto;
        padding: 0;
    }
}

/*=====  End of TEXT-TILE  ======*/


/*=============================================
=            SLIDERS
=============================================*/
.carousel-item {
    max-height: 600px;
}

.news-title {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1rem 2rem 2rem 2rem;
    background: rgba(234,234,241,0.80);
}

.news-title h2 {
    text-align: left;
    font-family: 'PL Regular';
    font-size: 3.6rem;
}

.carousel-controls {
    width: 250px;
    height: 50px;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #25718C;
}

.carousel-control-prev-icon {
    background-image: url('/dist/assets/imgs/previous.svg');
}

.carousel-control-next-icon {
    background-image: url('/dist/assets/imgs/next.svg');
}

.carousel-control-text {
    color: $brand-light;
    text-align: center;
}

.carousel-inner {
    float: left;
}

.news-detail {
    position: relative;
    float: right;
    background-color: $brand-light;
    min-height: 600px;
    padding: 2rem;
}

.news-detail-content {
    max-height: 500px;
    overflow-y: scroll;
}

.news-detail button {
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
}


/*=====  End of SLIDERS  ======*/




/*=============================================
=            ACCORDIONS
=============================================*/
.accordion .card {
    border: 1px solid #fff;
    border-left: none;
}

.card-title-img {
    max-width: 25%;    
}

.accordion-content {
    max-height: 200px;
    overflow-y: scroll;
    background: rgba(241,241,241,0.30);
}

.accordion .card-body {
    padding: 1.6rem 2.4rem;
    box-shadow: 3px 3px 4px -1px rgba(0,0,0,0.50);
}

.accordion > .card .card-header {
    background: $brand-blue;
    width: 80%;
}

.accordion .btn-link {
    font-size: 2rem;
    color: $brand-light;
}

/*=====  End of ACCORDIANS ======*/


/*=============================================
=            NEWS ACCORDIAN (MOBILE)
=============================================*/
.news-accordion,  
.faq-accordion {
    padding: 4rem 3rem;
    padding-bottom: 0;
}

.news-accordion h3 {
    margin-top: 2rem;
}

.news-accordion h4 {
    margin: 2rem 0;
}

/*=====  End of NEWS ACCORDIAN  ======*/

/*=============================================
=            CARDS
=============================================*/
.card {
    border: none;
}

.card-header {
    background: none;
}
/*=====  End of CARDS  ======*/

/*=============================================
=            PROJECT CARDS
=============================================*/
.project-cards {
    padding: 1.6rem;
}

.project-cards button {
    margin: 3rem 25px;
}
/*=====  End of PROJECT CARDS  ======*/

/*=============================================
=            FOOTER
=============================================*/
footer {
    margin: 6rem auto;
}

footer h3 {
    font-size: 2.6rem;
}

footer a {
    font-family: 'PL Regular';
    color: $brand-black;
    text-transform: uppercase;
}

.footer-pages {
    margin: 1.6rem auto;
}

.footer-pages a {
    min-width: 100%;
    text-align: center;
}

.footer-links a {
    font-size: 1.2rem;
    padding-left: 5px;
    padding-right: 5px;
}

.fa-facebook {
    color: $facebook;
}

.fa-twitter-square {
    color: $twitter;
}

/*=====  End of FOOTER  ======*/








